.Navbar{
    width : 100%;
    background : linear-gradient(to right, #082575, #092d91, #0d3ab8, #134ef2, #0e73ad, #11a3f7);
    height : 75px;
    margin-bottom : 50px;
    color : white;
    position : sticky;
    display : flex;
}

.RealNavbar{
    position : relative;
    width : 77%;
    display : flex;
    margin : auto;
}
