.Footer{
    width: 100%;
    background-image : linear-gradient(to right, #0e73ad, #11a3f7);
    color : white;
    margin-top : 50px;
    font-size : 1.2em;
    padding : 20px;
}

.Social {
    list-style: none;
    width : 30%;
}

.Social a{
    color : white;
    font-size : 2.5rem;
}