.Recording{
    background : #808080;
    height : 180px;
    display : flex;
}

.RecordingControls{
    width : 40%;
    height : 100%;
}

.Audio{
    width : 60%;
    height : 100%;
    overflow : auto;
    /* background :  */
}

.Button{
    height : 60px;
    width : 33.33%;
    font-size : 1.3em;
}

.Success{
    background-image : linear-gradient(to right, #369c2f, #2bc221, #1ff511);
}

.Danger {
    background-image : linear-gradient(to right, #fa4141, #fa1e1e, #fa0000);
}

.Success:hover{
    background-image : linear-gradient(to right,#2bc221, #1ff511);
}

.Danger:hover{
    background-image : linear-gradient(to right ,#f77474,#f76060, #fa4141, #fa1e1e);
}

.Button:active{
    border : 2px solid white;
}

.Pause{
    background : linear-gradient(to right, #0320ff, #0215a6, #020e6b);
    color : white;
}

.Pause:hover{
    background : linear-gradient(to right, #0320ff, #0215a6);
}

.Visual{
    width : 100%;
    background : white;
    height : 120px;
}

.Button:disabled{
    cursor: not-allowed;
    color : black;
}

.Player {
    width: 100%;
}

.AudioControls{
    width : 100%;
}

.AudioControls::-webkit-media-controls-panel{
    background : #222623;  
}

.AudioControls::-webkit-media-controls-current-time-display,.AudioControls::-webkit-media-controls-time-remaining-display{
    color : white;
}

hr{
    width : 100%;
    border : 1px solid black
}